html,
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto",Tahoma, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-background {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #9db1a5), color-stop(98%, #849d8f));
  background-image: -webkit-linear-gradient(top, #9db1a5 2%, #849d8f 98%);
  background-image: -o-linear-gradient(top, #9db1a5 2%, #849d8f 98%);
  background-image: linear-gradient(to bottom, #9db1a5 2%, #849d8f 98%);
}

.site-wrapper {
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream-slider-01.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.slide {
  display: none;
}

.slider {
  position: relative;
  padding-top: 250px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248, 247, 244, 0.4);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-controls label:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 27px;
  z-index: 20;
  
  font-size: 0;
}

.slide-product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-slider-01.png");
}

.slide-product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-slider-02.png");
}

.slide-product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-slider-03.png");
}

.slide-product-1:checked ~ .site-wrapper .slide1,
.slide-product-2:checked ~ .site-wrapper .slide2,
.slide-product-3:checked ~ .site-wrapper .slide3 {
  display: block;
}

.slide-product-1:checked ~ .site-wrapper label[for="product-1"],
.slide-product-2:checked ~ .site-wrapper label[for="product-2"],
.slide-product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 2px #ac1000;
  text-align: center;
  color: #ffffff;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843, #e74a35);
  background-image: -o-linear-gradient(top, #f26843, #e74a35);
  background-image: linear-gradient(to bottom, #f26843, #e74a35);

  -webkit-box-shadow: 0 2px 2px rgba(172,16,0,0.64);
          box-shadow: 0 2px 2px rgba(172,16,0,0.64);

  border: none;
  border-radius: 30px;

  cursor: pointer;
}

.button:hover,
a.button:hover {
  background-image: -webkit-gradient(linear,left top, left bottom,from(#ed705e), to(#f58669));
  background-image: -webkit-linear-gradient(top,#ed705e 0%, #f58669 100%);
  background-image: -o-linear-gradient(top,#ed705e 0%, #f58669 100%);
  background-image: linear-gradient(to bottom,#ed705e 0%, #f58669 100%);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  background-image: -o-linear-gradient(top, #e74a35, #f26843);
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: 0 -2px 2px rgba(172,16,0,0.64);
          box-shadow: 0 -2px 2px rgba(172,16,0,0.64);
}

.slide-button {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 40px;

  border: none;
  border-radius: 32px;

  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160,32,11,0.76);
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0px 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo {
  display: block;
  width: 154px;
  height: 64px;
}

.menu-navigation {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 9px 27px;
  vertical-align: middle;
}

.menu-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  vertical-align: middle;
  width: 708px;
  margin: auto 0;
  padding: 0;
  padding-bottom: 11px;
  padding-top: 11px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 7px;
  padding-right: 14px;
  padding-left: 13px;
  padding-bottom: 7px;
  margin:0;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

span.item-text {
  display: inline;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item:hover,
.menu-item:focus {
  color: #333333;
  border-radius: 20px;
  background-color: #f7f6f3;
}

.menu-item:active {
  color: #333333;
  border-radius: 20px;
  background-color: #f7f6f3;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.menu-item-active {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
  padding: 8px 14px;
  padding-left: 13px;
  background-color: #d07058;
}

.catalog-item-active {
  padding: 0;
  padding-bottom: 4px;
}

.catalog-item-active:hover .submenu,
.catalog-item-active:focus .submenu {
  display: block;
  color: #333333;

  background-color: #ffffff;
  overflow: hidden;
}

.catalog-item-active:hover .menu-item {
  color: #333333;

  background-color: #ffffff;
  overflow: hidden;
  border-radius: 20px;
}

.catalog-item-active:hover .menu-item-active {
  color: #ffffff;
  background-color: #d07058;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 1;
  left: -7px;
  top: 47px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.4);
          box-shadow: 0 20px 40px rgba(0,0,0,0.4);

  overflow: hidden;
}

.submenu-item {
  display: block;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.submenu-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.submenu-item-active a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 7px;
  padding-top: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  border-bottom: 1px solid #d1d0ce;
}

.submenu-item:hover {
  background-color: #fbded7;
  overflow: hidden;
}

.submenu-item:focus {
  background-color: #f6b5a5;
  overflow: hidden;
}

.submenu-item:active,
.submenu-link:active {
  color: #ffffff;
  background-color: #d07058;
  overflow: hidden;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;

  list-style: none;
  margin: auto 0;
  padding: 0;
  
  padding-bottom: 14px;
  padding-top: 10px;
}

.menu-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32px;
  height: 32px;
  display: block;
  
  margin: 0;
  padding: 0;
  
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 50%;
  background-image: url("../img/loupe-01.svg");
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 7px;
}

.menu-search:hover,
.menu-search:focus {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url("../img/loupe-02.svg");
}

.search-main {
  position: relative;
  padding: 0;
  padding-bottom: 3px;
}

.search-main:hover .menu-search {
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url("../img/loupe-02.svg");
}

.search-main:hover .search-active {
  display: block;
} 

.search-active {
  display: none;
  position: absolute;
  z-index: 1;
  top: 36px;
  right: 0;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 341px;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.4);
          box-shadow: 0 20px 40px rgba(0,0,0,0.4);

  cursor: pointer;
}

.search-form input {
  display: block;
  width: 100%;
  padding: 13px 15px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;

  font-size: 14px;
}

.search-form input:hover {
  border: 1px solid rgba(154, 154, 154, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.5);
          box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.5);
}

.search-form input:focus {
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.5);
          box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.5);
}

.login {
  position: relative;
  padding: 0;
  padding-bottom: 3px;
}

.login:hover .menu-login {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/entrance-02.svg");
  background-repeat: no-repeat;
  background-position-y: 7px;
  background-position-x: 15px;
  background-size: 20px 18px;
}

.login:hover .menu-login::before { 
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;

  width: 20px;
  height: 18px;

  background-image: url("../img/entrance-02.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-login {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 92px;
  height: 32px;
  margin: auto 0;
  padding-top: 7px;
  padding-left: 45px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 20px;
}

.menu-login::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;

  width: 20px;
  height: 18px;
  
  background-image: url("../img/entrance-01.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-login:hover::before,
.menu-login:focus::before,
.menu-login:active::before {
  background-image: url("../img/entrance-02.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-login:hover,
.menu-login:focus,
.menu-login:active {
  color: #000000;
  background-color: #ffffff;
}

.login:hover .active-login-form,
.login:focus .active-login-form,
.login:active .active-login-form {
  display: block;
  overflow: hidden;
}

.active-login-form {
  display: none;
  position: absolute;
  z-index: 1;
  top: 36px;
  right: 0;

  border-radius: 5px;
  -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.4);
          box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 277px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
  cursor: pointer;
}

.login-form input:hover {
  border: 1px solid rgba(154, 154, 154, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.5);
          box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.5);
}

.login-form input:focus {
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.5);
          box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.5);
}

.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 18px;
  padding: 14px 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;

  font-size: 14px;
}

.login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 120px;
  margin: 0;
  padding: 0;
}

.link-title:hover {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.link-title {
  display: inline;
  text-decoration: none;
  font-size: 13px;
  color: #323232;

  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(00,00,00, 0.2);
}

.login-form-button {
  padding: 0 25px;
  height: 44px;
}

.busket {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 117px;
  height: 32px;
  vertical-align: middle;
  position: relative;
  
  padding: 0;
  padding-bottom: 3px;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 20px;
}

a.menu-busket {
  display: block;
  margin: auto 0;
  padding: 0;
  padding-top: 7px;
  padding-left: 45px;
  padding-bottom: 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.menu-busket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;

  width: 20px;;
  height: 18px;
  
  background-image: url("../img/busket-01.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.busket:focus,
.menu-busket::before:focus {
  background-color: rgba(255, 255, 255, 0.01);
}

.menu-busket-active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 117px;
  height: 32px;
  
  background-color: #ffffff;
  border-radius: 20px;
}

.busket-active {
  position: relative;
  padding: 0;
  padding-bottom: 3px;
}

a.menu-busket-active {
  display: block;
  margin: auto 0;
  
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
}

.menu-busket-active::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;

  width: 20px;;
  height: 18px;
  
  background-image: url("../img/busket-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.busket-active:hover .busket-list {
  display: block;
}

.busket-list {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 3;
}

.busket-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 540px;
  margin: 0;
  padding: 20px 15px;
  text-align: right;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.4);
          box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.busket-table {
  margin-bottom: 15px;
  border-bottom: 1px solid #cacac7;
  border-collapse: collapse; 
  text-align: left;
}

.busket-delete {
  width: 25px;
}

.busket-img {
  width: 45px;
}

.busket-title {
  width: 256px;
}

.busket-weight {
  width: 125px;
}

.busket-total {
  width: 69px;
}

.table-list {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color:#323232;

  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.table-item {
  padding-bottom: 15px; 
}

.busket-price {
  color: #999999;
}

.busket-icecream {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding-top: 0;
}

.table-item .icecream-type {
  display: block;
  padding-top: 13px;
  padding-right: 30px;
  margin: 0;
}

.total-price {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #323232;
  text-align: right;

  margin: 0;
  margin-bottom: 9px;
}

.busket-button {
  display: inline-block;
  vertical-align:  middle;
  padding: 12px 14px;
}

.connect-info {
  text-align: right;
  margin-left: auto;
  margin-top: 0;
}

.work-time {
  margin: 0;
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.header-phone {
  margin: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.gift {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.gift .container {
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  vertical-align: top;

  margin: 0 auto;
  padding: 0 27px;
}

.gift-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;

  margin: 0;
  margin-right: 25px;
  margin-bottom: 40px;

  border: none;
  border-radius: 15px;
}

.gift-item:nth-child(2) {
  margin-right: 0;
}

.gift-item h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  
  margin-top: 0;
  margin-bottom: 15px;
}

.gift-item p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 520px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.rusberry {
  background-color: #9d0025;
  background-image: url("../img/bg_rusberry.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-position-x: 0;
  background-position-y: center;
}

.chocolate {
  background-color: #482514;
  background-image: url("../img/bg-chocolate.jpg");
  background-position: center;
}

.gift-item .gift-button {
  margin: 0;
  margin-top: 42px;
  margin-left: auto;
  
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 22px;
}

.catalog {
  margin: 0;
  padding: 0;
}

.catalog .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
    justify-content: flex-start;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item-wrap {
  position: relative;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  z-index: 1;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  margin: 0;
  margin-bottom: 39px;
  margin-right: 26px;
}

.catalog-image {
  width: 267px;
  height: 267px;

  margin-bottom: 6px;
}

.hit {
  position: absolute;
  left: 0;
  top: 0;
}

.item-price {
  position: absolute;
  left: 0;
  top: 208px;
  margin: 0;
  padding: 0;
  z-index: 2;

  text-shadow: 2px 2px 3px rgba(49,50,53, 0.5);
}

.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  margin: 0;
  padding: 0;
}

.catalog-item-price .price-curency {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 35px;
  margin: 0;
  font-size: 45px;
  font-weight: 700;
}

.price-curency::after {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 36px;
  top: 10px;
  right:0;
  z-index: 5;
  background-image: url("../img/rub.svg");
}

.catalog-item-price span {
  font-size: 30px;
  font-weight: 700;
}

.item-title {
  display: block;
  width: 258px;
  margin: auto;
  
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

span.item-link {
  display: inline;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

span.item-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item:hover .item-check {
  display: block;
}

.catalog-item:hover {
  z-index: 2;
}

.catalog-item .item-check {
  display: none;
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: 0;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 293px;
  padding-top: 335px;
  margin-left: -146px;

  background-color: rgba(248,247,244, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.4);
          box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.item-check .catalog-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.features .container {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 27px;
}

.container-content {
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  background-color: #ebdcbc;
  background-image: url("../img/bg-waffle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features h4 {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.features-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  padding-top: 15px;
  padding-left: 57px;
  padding-bottom: 7px;
}

.features-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 476px;
  margin:0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.features-text p {
  margin:0;
  padding: 0;
}

.features-item::before {
  content: "";
  position: absolute;
  display: block;
  top:0;
  left: 0;
  width: 49px;
  height: 49px;
}

.seo-icon-1::before {
  background-image: url("../img/seo_icecream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.seo-icon-2::before {
  background-image: url("../img/seo_cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.seo-icon-3::before {
  background-image: url("../img/seo_leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.seo-icon-4::before {
  background-image: url("../img/seo_thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blog-subscribe {
  margin-bottom: 40px;
  padding: 0;
}

.blog-subscribe .container {
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 560px;
  min-height: 220px;
  padding: 20px;

  background-color: rgb(255, 255, 255);
  background-image: url("../img/bg-blog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border: none;
  border-radius: 15px;
}

.blog p {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;

  padding: 0;
  padding-top: 3px;
  margin: 0;
  margin-bottom: 5px;
}

.blog-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right:40px;
  width: 70%;
}

.blog-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  border-bottom: 2px solid #323232;
}

.blog-title:hover,
.blog-title:focus {
  color: #e84d37;
  border-bottom: 2px solid #e84d37;
}

.newsletter-form {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 560px;
  min-height: 220px;
  padding: 35px 27px 30px 27px;
  background-color: #f8f7f4;
  background-image:
    url("../img/subscribe-bg.svg"),
    -webkit-repeating-linear-gradient(
      315deg, 
      #f8f7f4 0px, 
      #f8f7f4 7px, 
      #92cdff 7px, 
      #92cdff 14px, 
      #f8f7f4 14px, 
      #f8f7f4 21px, 
      #fe9e90 21px, 
      #fe9e90 28px);
  background-image:
    url("../img/subscribe-bg.svg"),
    -o-repeating-linear-gradient(
      315deg, 
      #f8f7f4 0px, 
      #f8f7f4 7px, 
      #92cdff 7px, 
      #92cdff 14px, 
      #f8f7f4 14px, 
      #f8f7f4 21px, 
      #fe9e90 21px, 
      #fe9e90 28px);
  background-image:
    url("../img/subscribe-bg.svg"),
    repeating-linear-gradient(
      135deg, 
      #f8f7f4 0px, 
      #f8f7f4 7px, 
      #92cdff 7px, 
      #92cdff 14px, 
      #f8f7f4 14px, 
      #f8f7f4 21px, 
      #fe9e90 21px, 
      #fe9e90 28px);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.newsletter-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
  margin-top: 0;
  margin-bottom: 35px;
}

.subscribe-form {
  width: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.subscribe-email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 366px;
  height: 44px;
  padding-left: 14px;

  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(178,178, 178, 0.5);
  border-radius: 5px;
}

.subscribe-form input:hover {
  border: 1px solid rgba(154, 154, 154, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.5);
          box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.5);
}

.subscribe-form input:focus {
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.5);
          box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.5);
}

.subscribe-button {
  margin-top: -1px;
  height: 44px;
  padding-top: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 0;
}

.contact {
  width: 100%;
  height: 430px;
}

.contact .container {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
}

.contact-map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  height: 430px;
  margin: 0 auto;
  padding: 0;

  z-index: 0;
}

.contact-map img {
  position: absolute;
  top:0;
  left: 50%;
  z-index: -1;
  width: 1200px;
  height: 430px;
  margin-left: -600px;
  padding: 0;
}

iframe {
  width: 100%;
  border: none;
  height: 430px;
}

.contact-info .container-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 61px;
  right: 27px;

  z-index: 3;
  width: 300px;
  padding: 30px 25px;
  
  background-color: #ffffff;
  border-radius: 15px;
}

.contact-info p {
  width: 240px;
  font-size: 14px;
  line-height: 20px;
  color: #323232; 

  margin: 0;
  padding: 0;
}

.contact-info span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  margin: 0;
  padding: 0;
}

.contact-address {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.contact-address p,
.contact-address span {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

.contact-tel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.contact-tel span {
  display: block;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 0;
}

.contact-button {
  display: block;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 21px;
  padding-left: 21px;

  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 2px #ac1000;
  text-align: center;
  color: #ffffff;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843, #e74a35);
  background-image: -o-linear-gradient(top, #f26843, #e74a35);
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  -webkit-box-shadow: 0 2px 2px rgba(172,16,0,0.64);
          box-shadow: 0 2px 2px rgba(172,16,0,0.64);
  border: none;
  border-radius: 30px;

  cursor: pointer;
}

.contact-button:hover,
a.contact-button:hover {
  background-image: -webkit-gradient(linear,left top, left bottom,from(#ed705e), to(#f58669));
  background-image: -webkit-linear-gradient(top,#ed705e 0%, #f58669 100%);
  background-image: -o-linear-gradient(top,#ed705e 0%, #f58669 100%);
  background-image: linear-gradient(to bottom,#ed705e 0%, #f58669 100%);
}

a.contact-button:focus,
.contact-button:focus,
.contact-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  background-image: -o-linear-gradient(top, #e74a35, #f26843);
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: 0 -2px 2px rgba(172,16,0,0.64);
          box-shadow: 0 -2px 2px rgba(172,16,0,0.64);
}

.footer-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: top;
}

.footer-social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto 0;
  padding: 35px 0;
}

.footer-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  padding: 0;
}

.footer-copyright {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
     -ms-flex-pack: start;
      justify-content: flex-start;

  padding-top: 17px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-button svg {
  display: block;
  margin: 0;
  padding: 0;

  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  margin-right: 11px;
}

.social-button svg:hover {
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.social-button svg:active path {
  fill: #e9e9e9;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.copyright-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.copyright-info img {
  display: block;
  margin:0;
  margin-bottom: 3px;
  width:108px; 
  height:39px;
}

.copyright-info p {
  display: block;
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.copyright-info a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-info a:hover {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.footer-menu-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 460px;
  margin: 0 auto;
  margin-left: 50px;
  padding: 0;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-top: 10px;
}

.footer-item {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 190px;
  padding: 0;
  margin: 0;
}

.item-underline {
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-underline:hover {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.selected-item {
  padding-left: 48px;
}

.footer-selection {
  display: block;
  position: relative;
  z-index: 0;
}

.footer-selection::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/heart.svg");
  width: 15px;
  height: 13px;
  left: 27px;
  top: 5px;
  z-index: 1;
}

.pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.pagination .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  padding-bottom: 30px;
  padding-top: 42px;
}

.pagination-list {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
            justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left:auto;
  vertical-align: middle;
}

.page-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 26px;
  height: 26px;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.page-item:last-child {
  margin-right: 0;
}

.page-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 5px;
}

.page-active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  background-position: center;
  padding-top: 3px;
  color: #323232;
  font-weight: 500;
}

.page-item:hover,
.page-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.page-item:active {
  background-color: #ffffff;
  border-radius: 50%;
}

.page-link:active {
  color: #323232;
}

.page-switch-left {
  display: block;
  background-image: url("../img/paginator-left.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  margin-right: 15px;
  cursor: pointer;
}

.page-switch-right {
  display: block;
  background-image: url("../img/paginator-right.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  margin-left: 15px;
  cursor: pointer;
}

.disabled {
  opacity: 0.2;
}

.breadcrumbs {
  margin: 0;
  margin-top: -33px;
  padding: 0;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.breadcrumbs-current {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255,188,158, 0.3);
}

.breadcrumbs-item::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -14px;
}

.breadcrumbs-current::after {
  display: none;
}

.filter {
  margin: 0;
  margin-top: -48px;
  margin-bottom: 40px;
}

.filter h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 859px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.sort-filter,
.fatty {
  margin-bottom: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.sort-filter label {
  display: block;
  margin: 0;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 15px;
}

select.sort-list {
  width: 193px;
  height: 36px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position-x: 168px;
  background-position-y: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  border: none;
}

.sort-list:hover {
  background-image: url("../img/icon-down-dir-black.svg");
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position-x: 170px;
  background-position-y: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.sort-item {
  display: block;
  font-size: 14px;
  font-weight: 16px;
  color: #323232;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.range-controls {
  position: relative;
  width: 179px;
  height: 19px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(248,247,244, 0.5)
}

.range-controls .bar {
  width: 50%;
  height: 4px;
  background: #f8f7f4;
  margin-left: 20%;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 132px;
}

.toggle-min:hover {
  top: 6px;
  left: 34px;
  width: 4px;
  height: 4px;
  border: 9px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-max:hover {
  top: 6px;
  left: 131px;
  width: 4px;
  height: 4px;
  border: 9px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; 
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.price-controls label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

label.min-price {
  padding: 0;
  padding-left: 15px;
  margin: 0;
}

label.max-price {
  padding: 0;
  margin: 0;
}

.price-controls input {
  width: 55px;
  padding: 0 3px;
  margin: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border: none;
  background:none;
}

.fatty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 417px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.fatty-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 415px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 14px;
  padding-right: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fatty p {
  display: block;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  padding-left: 14px;
  margin:0;
  margin-bottom: 7px;
}

.fatty-radio {
  position: relative;

  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-right: 17px;
  margin-bottom: 7px;
  cursor: pointer;
}

.fatty-radio:last-of-type {
  margin-right: 0;
}

.fatty-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 4px solid rgba(255, 255, 255, 0.60);
  border-radius: 50%;
}

.fatty-radio input[type="radio"]:focus + .radio-indicator,
.fatty-radio input[type="radio"]:checked + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  opacity: 0.8;
}

.fatty-radio input[type="radio"]:hover + .radio-indicator {
  border: 4px solid #ffffff;
}

.fatty-radio input[type="radio"]:active + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  opacity: 1;
}

.fatty-radio input[type="radio"]:checked:hover + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  opacity: 1;
}

.fatty-radio input[type="radio"]:disabled + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  opacity: 0.4;
}

.filler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 702px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filler-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 702px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 0;
  padding-left: 17px;
  padding-right: 19px;
  padding-top: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center; 
          align-items: center;
}

.filler p {
  display: block;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  
  padding-left: 15px;
  margin: 0;
  margin-bottom: 7px;
}

.filler-checkbox {
  position: relative;
  padding: 0;
  
  padding-left: 33px;
  font-size: 16px;
  font-weight: 500;
  
  margin: 0;
  margin-right: 19px;
  margin-bottom: 7px;
  cursor: pointer;
}

.filler-checkbox:last-of-type {
  margin-right: 0;
}

.filler-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left top;
  opacity: 0.8;
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: left top;
  opacity: 0.8;
  border: none;
}

.filler-checkbox input[type="checkbox"]:checked:hover + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: left top;
  opacity: 1;
  border: none;
}

.filler-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left top;
  opacity: 1;
}

.filler-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: left top;

  opacity: 0.4;
  border: none;
}

.filter-button input[type="submit"] {
  width: 144px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 0 15px;
  margin: 0;
  border: 2px solid #ffffff;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  width: 144px;
  height: 36px;
  margin-top: auto;
}

.filter-button input:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-button input:active {
  color: #323232;
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  display: none;
  color: #323232;
}

.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}

.modal-wrap {
  position: relative;
  padding: 27px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-login {
  top: 150px;
  left: 50%;

  width: 478px;

  margin-left: -266px;
  z-index: 3;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  
  width: 22px;
  height: 22px;

  font-size: 0;
  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #1f191a;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-login h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;

  margin: 0;
  margin-bottom: 24px;
}

.popup-form input[type="text"],
.popup-form input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  height: 44px;
  padding: 10px 15px;
  margin-bottom: 20px;

  font: inherit;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.5);
}

.popup-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 155px;
  font: inherit;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  resize: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.5);
}

.submit-button {
  display: block;
  margin-left: auto;
}

.popup-form input[type="text"]:hover,
.popup-form input[type="email"]:hover,
.popup-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
  padding: 9px 14px;
}

.popup-form input[type="text"]:focus,
.popup-form input[type="email"]:focus,
.popup-form textarea:focus {
  outline: none;
  padding: 9px 14px;
  border: 2px solid rgba(46, 136, 228, 0.5);
}